{% extends "_layouts/base" %}

{% block body %}

  <main id="main" role="main">

         <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        {% block main %}{% endblock %}

        <nav class="meta">
          <p><a href="{{ url('imprint') }}">Imprint</a></p>
        </nav>
  </main>



  <footer id="footer">
  </footer>

{% endblock %}

{% block foot %}

  {{ parent() }}
  <script src="{{ siteUrl }}assets/js/dash.mediaplayer.min.js"></script>
  <script src="{{ siteUrl }}assets/js/hls.min.js"></script>
  <script src="{{ siteUrl }}assets/js/HLSDASHPlayer.js?v=1.8" ></script>
  
  <script>
      $(document).ready(function(){
          var player = new HLSDASHPlayer(
              "https://bird.institute:30443/birdcam/live/playlist.m3u8",
              "https://bird.institute:30443/birdcam/live/manifest.mpd",
              "#player",
              true);
      });
  </script>
{% endblock %}